<!-- Default form login -->
<form class="text-center border border-light p-5" action="#!"  action="/login" method="POST">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"  name="email">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"  name="password">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <hr>

    <p><a href="/" >Regresar a Home</a>

    <!-- Register -->
    <p>Aun no eres miembro?
        <a href="/auth/signup">Registrar</a>
    </p>

    <p>o</p>
    <!-- Social login -->
    <p>Ingresa con</p>

    <a href="/auth/facebook" class="mx-5" role="button"><i class="fab fa-3x fa-facebook-f light-blue-text"></i></a>
    <a href="/auth/google" class="mx-5" role="button"><i class="fab fa-3x fa-google light-blue-text" style="color:red"></i></a>

</form>
<!-- Default form login -->