<form method="POST" action="/donationmade/5">
  <script
   src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
   data-preference-id='{{preferencias.cinco}}' data-button-label="Donacion de $5">
  </script>
</form>
<form method="POST"  action="/donationmade/10">
  <script
   src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
   data-preference-id='{{preferencias.diez}}' data-button-label="Donacion de $10">
  </script>
</form>
<form method="POST"  action="/donationmade/25">
  <script
   src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
   data-preference-id='{{preferencias.veinticinco}}' data-button-label="Donacion de $25">
  </script>
</form>
