<div class="jumbotron text-center">
  <h1 class="display-3">Gracias por Donar!</h1>
  <br><br>
  <p class="lead">Muchisimas gracias por donar <strong>{{donationValue}}</strong> pesos. Cada donación beneficia a mas personas</p>
  <br><br>
  <hr>
  <br><br>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Regresar al inicio</a>
  </p>