<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Share a Feeling</h1>
    <p class="lead">Una landing page usando Bootstrap 4</p>
  </div>
</header>

<section id="who" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Quienes Somos</h2>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat doloremque saepe rem sit exercitationem 
          suscipit debitis cum ab. Expedita error delectus autem, dolorem dicta voluptates corporis veniam quae ex assumenda.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact Us</h2>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat doloremque saepe rem sit exercitationem 
          suscipit debitis cum ab. Expedita error delectus autem, dolorem dicta voluptates corporis veniam quae ex assumenda.</p>         
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Share a Feeling 2020</p>
  </div>
</footer>