body {
  margin:0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.avatarImg
{
  width:40px;
  height:40px;
}

.colBorder {
  border: 1px solid #c9c9c9;
  margin-top:10px
}

.colBorder:last-child {
  margin-bottom: 200px;
}

.tam{
  max-width: 500px;
}

a {
  color: #00B7FF;
}

.flex
{
  display:flex;
  align-content: center;
  justify-content: center;
  border: 1px solid #bfbfbf;
  padding: 10px;
  margin-top: 20px;
}
.flex:last-child
{
  margin-bottom: 200px;
}

.imgProfile{
  max-width:300px;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 100px 0;
}
